@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #96A78D;
    --cor-secundaria: #F0F0F0;
    --cor-terciaria: #B6CEB4;
    --cor-destaque: #455d43;
    --cor-titulo: #84a87f;
    --cor-borda: #D9E9CF;
}

@media (max-width: 1200px) {
    .apresentacao__conteudo__artigo {
    flex-direction: column;
    }

    .apresentacao__conteudo__artigo__inverso {
    flex-direction: column;
    }
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.cabecalho {
    padding: 2%;
}

.cabecalho__navegacao {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cabecalho__navegacao__link {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.cabecalho__navegacao__link:hover {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 7%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.apresentacao__conteudo__titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: var(--cor-destaque);
}

.apresentacao__conteudo__titulos__titulo {
    font-weight: 800;
}

.apresentacao__conteudo__paragrafos {
    text-align: justify;
    padding: 5% 15% 1% 15%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.apresentacao__conteudo__imagem {
    width: 70%;
    border: 0.2rem solid var(--cor-secundaria);
    border-radius: 0.5rem;
}

.apresentacao__conteudo__artigo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10% 1% 10%;
}

.apresentacao__conteudo__artigo__inverso {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10% 1% 10%;
}

.apresentacao__conteudo__artigo__texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.apresentacao__conteudo__artigo__texto__titulo {
    font-size: 2rem;
    color: var(--cor-destaque);
}

.apresentacao__conteudo__artigo__texto__paragrafo {
    font-size: 1.5rem;
}

.apresentacao__conteudo__artigo__imagem {
    width: 40%;
    border: 0.2rem solid var(--cor-secundaria);
    border-radius: 0.5rem;
}

.rodape {
    padding: 1%;
    background-color: var(--cor-secundaria);
    border-top: 0.2rem solid var(--cor-borda);
}

.rodape__links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.rodape__links__link {
    text-decoration: none;
    color: var(--cor-primaria);
}

.rodape__links__link:hover {
    color: var(--cor-destaque);
}